<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>CookieDemo1</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>Hist.CookieDemo1</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CookieDemo2</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>Hist.CookieDemo2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Session1</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>Session.Session1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Session2</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>Session.Session2</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>CookieDemo1</servlet-name>
    <url-pattern>/CookieDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CookieDemo2</servlet-name>
    <url-pattern>/CookieDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Session1</servlet-name>
    <url-pattern>/Session1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Session2</servlet-name>
    <url-pattern>/Session2</url-pattern>
  </servlet-mapping>

</web-app>